
<link href="/style2.css" rel="stylesheet">
<div class="abc">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<h1 style="text-align: center;">WELCONE TO BLOGIT</h1>
<marquee behavior="scroll" direction="down"><h3 style="text-align: center;">Enter Id and Password</h3></marquee>
</div>
  <style type="text/css">
  body {
      background: linear-gradient(to right, #50c9c3, #96deda);
    }
  </style>
  <div class="x">
  <div class="d-flex justify-content-center">
<div class="form-group">
    <form action="/login" method="POST">
    <label for="email">Email</label>
    <input type="text" id="email" class="form-control" placeholder="email" name="email"  value={{email}}>
    <span>{{error.email}}</span><br> 
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" name="password" >
    <span>{{error.password}}</span><br> 
    <div class="form-group row">
        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
    </div>
    </div>
</form>
</div>
<br>
</div>
 <div class="d-flex justify-content-center two">
   <div class="def">NO ACCOUNT THAN </div>
<a class="btn btn-primary " style="background-color: rgb(157, 196, 194);" href="/signup">SIGNUP</a>
 </div>
 <br>
<div class="d-flex justify-content-center two">
  <div class="def">FORGET PASSWORD THAN </div>
<a href="/forget" class="btn btn-primary" style="background-color: rgb(157, 196, 194);">FORGET PASSWORD</a>
</div>
 